
venv
scratch.py
scratch.py
Untitled.ipynb
gradient-decent-example2.py
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/softmax-regression-scratch-checkpoint.ipynb
.ipynb_checkpoints/matrix-math-checkpoint.py
.ipynb_checkpoints/gradient-decent-mxnet-demo-checkpoint.ipynb
.DS_Store
.ipynb_checkpoints/matrix-math-checkpoint.ipynb
.ipynb_checkpoints/softmax-regression-concise-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
scratch.py
.ipynb_checkpoints/Untitled-checkpoint.ipynb
